<!-- assign_reviewer.html -->
{% extends "base.html" %}

{% block title %}Assign Reviewer{% endblock %}

{% block content %}
<h2>Assign Reviewer for Paper: {{ paper.title }}</h2>

<table>
    <tr>
        <th>User ID</th>
        <th>Area of Interest</th>
        <th>Approved Papers</th>
        <th>Assigned Papers</th>
        <th>Assign</th>
    </tr>
    {% for user in potential_reviewers %}
    <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.area_of_interest }}</td>
        <td>{{ user.approved_papers_count }}</td>
        <td>{{ user.assigned_papers_count }}</td>
        <td><a href="{{ url_for('assign_reviewer_to_paper', paper_id=paper.id, user_id=user.id) }}">Assign</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
